{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.apache.arrow/flight-sql-jdbc-driver {:mvn/version "18.2.0"}}

 :aliases {:repl {:main-opts ["-r" "metabase.driver.flightsql"]}}}